#headline {
  font-size: 3em;
  text-align: center;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

#byline {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 1.5em;
  color: #9E1717;
  text-transform: uppercase;
}

#chapter {
  font-size: 2em;
  text-align: left;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

#columntext {
  text-align: center;
}

#caption {
  font-size: 1em;
  text-align: center;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

#storyimage {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

p {
  font-family: 'Georgia', serif;
  font-size: 1em;
  font-weight: 400;
}

#footer {
  text-align: center;
  font-family: 'Georgia', serif;
  color: white;
  background-color: #0B0740;
}
