#content {
  margin: 0 auto;
  width: 900px;
}

h1 {
  text-align: center;
  color: #303030;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
}

p {
  font-family: Georgia, serif;
  font-size: 13px;
}

#byline {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
  text-align: center;
}

#banner {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-width: 1500px;
}


#pic {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-width: 900px;
}
