#section {
  text-align: center;
  text-transform: uppercase;
  color: #18214d
}

#company {
  color: #697a94;
}

#port-title {
  text-align: center;
  color: #282828;
}

#dates {
  color: #697a94;
  font-style: italic;
}

hr {
  text-align: center;
  width: 25%;
  color: black;
  border-width: 3px;
}
