#headline {
  font-size: 3em;
  text-align: center;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

#byline {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

p {
  text-align: center;
  color: #282828;
}

#footer {
  text-align: center;
}
