
p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

h1 {
  font-family: Georgia, serif;
  font-size: 30px;
  text-align: center;
}

h2 {
  font-family: Georgia, serif;
  font-size: 24px;
  text-align: center;
}

#byline {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
}

#subheadline {
  font-family: Georgia, serif;
  font-size: 24px;
  text-align: center;
}

#pagewrap {
  margin: 0, auto;
  width: 1200px;
}
